li{
    list-style: none;
}

.hide{
    display: none;
}

.form-error{
    color: red;
}

.done{
    text-decoration: line-through;
    color: rgb(145, 145, 145);
}

.delete-btn{
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    background-color: transparent;

}

.subtask-input{
    display: none;
}

li:hover>.subtask-input{
    display: initial;
}