.hide{
    display: none;
}

.form-error{
    color: red;
}

.done{
    text-decoration: line-through;
    color: rgb(145, 145, 145);
}

.subtask-input{
    display: none;
}

li:hover>.subtask-input{
    display: initial;
}